<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" mode="ios" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="viajecreado(viajeForm)" #viajeForm="ngForm">
    <!-- Nombre del viaje -->
    <ion-item>
      <ion-label position="floating">Nombre del viaje</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>

    <!-- Botón para seleccionar la fecha -->
    <ion-item>
      <ion-label>Fecha del viaje</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <!-- ion-datetime -->
    <ion-datetime
      id="datetime"
      presentation="date"
      locale="es-ES"
      first-day-of-week="1"
      [(ngModel)]="fecha"
      name="fecha"
      cancel-text="Cancelar"
      done-text="Seleccionar">
    </ion-datetime>

    <!-- Espacios disponibles -->
    <ion-item>
      <ion-label position="floating">Espacios disponibles</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="espacioDisponible" 
        name="espacioDisponible" 
        required>
      </ion-input>
    </ion-item>

    <!-- Precio -->
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="precio" 
        name="precio" 
        required>
      </ion-input>
          <!-- Campo de búsqueda para destino -->
    <ion-item>
      <ion-label position="floating">Buscar destino</ion-label>
      <ion-input id="search-input" placeholder="Escribe tu destino..." (ionInput)="onSearchInput($event)"></ion-input>
    </ion-item>
    
    </ion-item>
    
    <div class="map-container">
      <div id="map" style="width: 100%; height: 400px;"></div>
    </div>

    <!-- Botón para crear el viaje -->
    <ion-button expand="block" type="submit" [disabled]="viajeForm.invalid">
      Crear Viaje
    </ion-button>

    
  </form>
</ion-content>
