<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" mode="ios" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mis Viaje Creados</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>{{ viaje.nombre }}</h2>
        <p>Fecha: {{ viaje.fecha }}</p>
        <p>Espacios Disponibles: {{ viaje.espacioDisponible }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <p>Destino: {{ viaje.destino.nombre }}</p>
      </ion-label>
      <ion-button slot="end"  (click)="borrarviaje(viajes)" color="danger">
        Borrar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-footer *ngIf="viajes.length === 0">
    <ion-text>No hay viajes Creados</ion-text>
  </ion-footer>
</ion-content>
